$firstcollor: #84a9bd;
$secondcollor: white;
$inslidetext: #84A9D4;
$shadow: 0 0 10px rgba(0,0,0,0.5);

// TODO сделать в примерах h3 ссылками
// TODO добавить меню с якорями

html {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}
a:visited {
    color: gray;
}

h1, h2, h3 {
    display: inline-block;
    margin: 1vw;
    text-align: center;
}

ul {
    padding-inline-start: 0px;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    min-width: 864px;
}

header {
    display: flex;
    flex-grow: 0;
    width: 81vw;;
    max-width: 1440px;
    // width: 80vw;
    align-items:center;
    justify-content: right;
    // min-height: 1vh; //TODO
    background: linear-gradient(to left, $firstcollor, 30%, white);
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin: 10px 20px 10px 0;
            a:visited {
                color: black;
            }
        }
    }
}

main {
    display: flex;
    flex-grow: 1;
    width: 80vw;
    max-width: 1440px;
}

aside {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background: linear-gradient($firstcollor, 20%, $secondcollor);
    & img {
        max-width: 100%;
        max-height: 100%;
    }
    & div {
        position:relative;
        bottom: 2vh;
        margin-bottom: 2vh;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color:$firstcollor;
        box-shadow: $shadow;
        &::before {
            width: 0px;
            height: 0px;
            content: "";
            position: absolute;
        }
        &.toleft {
            text-align: center;
            left: 0.5vw;
            border-bottom-left-radius: 2px;
            &::before {
                border-top: 1vh solid #c7b164;
                border-right: 0.5vw solid transparent;
                right: 0;
                bottom: -1vh;
            }
        }
        &.toright {
            text-align:center;
            right: 0.5vw;
            border-bottom-right-radius: 2px;
            &::before {
                border-top: 1vh solid #c7b164;
                border-left: 0.5vw solid transparent;
                left: 0;
                bottom: -1vh;
            }
        }
        li {
            img{
                margin-right: 0.5vw;
            }
        }
    }
}

div.aboutme {
    background: linear-gradient($secondcollor, 80%, $firstcollor );
    padding-bottom: 2vh;
    // margin-bottom: 2vh;
    height: 100%;
    div.wrapper {
        position: relative;
        margin-left: 1vw;
        margin-top: 1vw;
        padding-top: 1vh;
        left: 0.5vw;
        background-color:$secondcollor;
        box-shadow: $shadow;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        &::before {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-top: 1vh solid #c7b164;
            border-right: 0.5vw solid transparent;
            right: 0;
            bottom: -1vh;
        }
        section {
            display: flex;
            flex-direction: column;
        }
        h3 {
            position: relative;
            margin: 1vw 1vw 2vw 1vw;
            &:after {
                display: block;
                position: absolute;
                content: "";
                bottom: -4px;
                left: 0;
                width: 100px;
                height: 3px;
                background-color: $firstcollor;
                right: 0;
                margin: 0 auto;
            }
            span {
                display: inline-block;
                color: $secondcollor;
                transform: rotate(7deg);
                text-shadow: 1px 1px 2px $firstcollor, -1px -1px 2px $firstcollor;
            }
        }
        p {
            text-align:start;
            text-indent: 2vw;
            margin: 0 3vw 0 3vw;
        }
        li {
            margin: 0 5vw 0 5vw;
            list-style-type: none;
            background-position: 0 0;
            background-repeat: no-repeat;
            padding-left: 2rem;
        }
        .education li {
            background-image: url(https://img.icons8.com/dotty/20/000000/education.png);
        }
        div.code_wrapper {
            margin: 0 3vw 0 3vw;
            box-shadow: $shadow;
            }
        section:last-child {
            padding-bottom: 2vw;
            margin-bottom: 1vh;
            }
        }
        section.projects {
            div.tiles {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content:space-around;
                margin: 0 3vw 0 3vw;
                .example {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items:center;
                    max-width: 33.13%;
                    a {
                        max-width: 99%;
                    }
                    h4 {
                        position: absolute;
                        text-align: center;
                        color: bisque;
                        cursor: pointer;
                        text-shadow: black 0 0 10px;
                        z-index: 1;
                    }
                    img {
                        object-fit: contain;
                        max-width: 100%;
                        min-height: 100%;
                        margin: 0 auto;
                        filter: grayscale(100%) blur(2px);
                    }
                    &:hover {
                        img {
                            filter: grayscale(0%) blur(0px);
                            transition: 1s, 1s;
                        }
                        h4 {
                            opacity: 0;
                            font-size: 0;
                            transition: 1s, 1s;

                        }
                    }
                    &:not(:hover) {
                        img {
                            filter: grayscale(100%) blur(2px);
                            transition: 1s, 1s;
                        }
                        h4 {
                            opacity: 1;
                            transition: 2s;
                        }
                    }
                }
            }
        }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    flex-wrap: nowrap;
    flex-grow: 0;
    width: 80vw;
    margin-top: 1vh;
    max-width: 1440px;
    border-radius: 33px 0 0 33px;
    background: linear-gradient(to left, $firstcollor, 70%, white);
    time {
        font-family: system-ui, monospace, serif;
    }
    div {
        position: relative;
    }
    img.rsschool_link {
        position: absolute;
        transform: rotate(-90deg);
        height: 15px;
        bottom: -7px;
        right: -10px;
    }
}

aside div.contacts {
    li {
        padding-left: 1vw;
        display: flex;
        align-items:center;
        justify-content:flex-start;
        min-width: 130px;
    }
}

@media (max-width: 1098px) {
    body {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    header {
        min-width: 100%;
    };
    main {
        width: 99%;
        flex-direction: column;
    }
    aside {
        min-width: 97.5% ;
        padding-top: 1vw;
        margin-left: 1vw;
        background: linear-gradient($secondcollor, 71%, $firstcollor );
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        & img.photo {
            margin: 0 auto;
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            box-shadow: $shadow;
        }

        div.position {
            h3 {
                margin-right: -1vw;
            }
        }
        div:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    div.aboutme {
        margin-bottom: 0;
        width: 97%;
        div.wrapper{
            section.projects {
                div.tiles {
                    margin: 0 auto;
                }
            }
        }
    }
    footer {
        margin-top: 0;
        width: 93%;
    }
}

@media (max-width: 580px) {
    aside ul {
            justify-content: space-around;
            li {
                width: 181px;
                a {
                    width: 110px;
                    text-align: start;
                }
            }
    }
    div.aboutme section.projects div.tiles .example {
        max-width: 49%;
    }
}

@media (max-width: 382px) {
    aside div.contacts li {
        justify-content: center;
    }
    div.aboutme section.projects div.tiles .example {
        max-width: 99%;
    }
}