@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
@import url(https://fonts.googleapis.com/css?family=Forum:regular);
:root {
  --bg-dark: #030303;
  --font-17: 17px;
  --font-21: 21px;
  --font-22: 22px;
  --font-27: 27px;
  --font-28: 28px;
  --font-32: 32px;
  --font-80: 80px;
}
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  max-width: 100%;
}
a {
  text-decoration: none;

}
li {
  list-style: none;
}

// TEXT

.section {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  &-title {
    @extend .section;
    font-size: var(--font-80);
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
      &-dark {
        @extend .section-title;
        color: #FFFFFF;
    }
  }
  &-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    &-welcome {
      @extend .section-text;
      font-size: var(--font-27);
      line-height: 32px;
      letter-spacing: 2px;
      color: #FFFFFF;
    }
  }
}
header {
  background-color: var(--bg-dark);
  .container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 75px 0 75px 0;
    &.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .logotip {
    display: flex;
    &.image {
      min-width: 50px;
      min-height: 34px;
      background-image: url(assets/svg/logo.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    &.title {
      align-self: flex-end;
      text-transform: uppercase;
      @extend .section;
      font-size: var(--font-28);
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 8px 0 0 20px;
    }
  }
  .navigation {
    min-width: 50%;
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        li {
          a {
            padding: 10px;
            @extend .section-text;
            font-size: var(--font-21);
            line-height: 50px;
            letter-spacing: 2px;
            text-decoration-color: #FFFFFF;
            color: #FFFFFF;
            &:hover {
              color: #9D8665;
            }
            &:active {
              color: #9D8665;
            }
          }
        }
      }
    }
  }
}
main {
  .section {
    .container {
      margin: 0 auto;
      max-width: 1440px;
      padding: 75px 0 75px 0;
    }
    &.welcome,
    &.picture-explore,
    &.buy-tickets {
      background-color: var(--bg-dark);
    }
  &.video-journey {
    padding-top: 15px;
    }
  }
}


// welcome
.welcome_background {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 750px;
  background: url(assets/img/1_background.png) no-repeat;
  background-position: calc(100%) calc(100% - 1px);
}
.container {
  &_welcome {
    & .title {
        max-width: 700px;
    }
    .text_block {
      padding-top: 26px;
    }
    .button {
      padding-top: 77px;
      button {
        width: 360px;
        height: 75px;
        left: 240px;
        top: 629px;
        background: #710707;
        border-radius: 10px;
        cursor: pointer;
        font-size: var(--font-21);
          line-height: 25px;
          text-align: center;
          letter-spacing: 2px;
          color: #FFFFFF;
        &:hover {
          background: #9D8665;
        }
        &:active {
          background: #9D8665;
        }
      }
    }
  }
}
// virtual-tour
.container_virtual-tour {
  .section-title {
    position: relative;
    margin-bottom: 104px;
    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: #710707;
    }
  }
  .virtual-tour {
    &.tiles {
      display: flex;
      flex-wrap: wrap;
      gap: 77px 60px;
        }
      .tile {
        &:hover {
          .title{
            &::after {
              width: 100%;
              transition: 1s;
            }
          }
        }
        &:not(:hover) {
          .title{
            &::after {
              width: 60%;
              transition: 1s;
            }
          }
        }
        a {
          :hover {
            color: #9D8665;
          }
          :active {
            color: #9D8665;
          }
        }
        .title {
          margin-top: 25px;
          @extend .section;
          font-size: var(--font-32);
          line-height: 35px;
          letter-spacing: 5px;
          text-transform: uppercase;
          color: #000000;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: -9px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #710707;
        }
      }
        .pre-title, .text {
          @extend .section-text;
          font-size: var(--font-21);
          color: #000000;
          margin-top: 21px;
          line-height: 25px;
        }
        .text {
          margin-top: 11px;
          line-height: 20px;
        }

      }

    }
  }

// picture-explore
.container_picture-explore {
  display: flex;
  column-gap: 60px;
  .title {
      position: relative;
      margin-bottom: 104px;
      &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #710707;
      }
  }
  .text {
    margin-top: 109px;
    @extend .section-text;
    font-size: var(--font-22);
    line-height: 38px;
    color: #FFFFFF;
    p {
      margin-bottom: 25px;
    }
    span {
      color: #CAAA7D;
    }
  }
}
// video-journey
.video-journey {
  &.discription{
    display: flex;
    column-gap: 60px;
    margin-top: 40px;
    .text {
      max-width: 720px;
      @extend .section-text;
      font-size: var(--font-22);
      line-height: 38px;
      color: #000000;
    }
  }
}

// buy-tickets
.container_buy-tickets {
  display: flex;
  flex-direction: column;
  .title {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #710707;
      }
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 60px;
    margin-top: 103px;
    .buy-tickets.form {
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: var(--font-28);
        line-height: 33px;
        color: #FFFFFF;
      }

      .ticket_type_colum, .amount_colum {
        flex: 1;
        display:inline-flex;
        flex-direction: column;
        .ticket_type {
          display: block;
          position: relative;
          padding-left: 40px;
          margin: 51px 0 12px 0;
          margin-bottom: 12px;
          @extend .section-text;
          font-size: var(--font-21);
          line-height: 25px;
          color: #FFFFFF;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          &:hover {
            color: #9D8665;
          }
          &:active {
            color: #9D8665;
          }
          &:hover input ~ .checkmark {
            background-color: #e5e5e5;
          }
          input:checked ~ .checkmark {
            background-color: #9D8665;
          }
          &:after {
            content: "";
            position: absolute;
            display: none;
          }
          input:checked ~ .checkmark:after {
            display: block;
          }
          .checkmark:after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
          }
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
          }
        }
      }
      p {
        @extend .section-text;
        font-size: var(--font-21);
        line-height: 25px;
        color: #FFFFFF;
      }
    }
    .amount_colum {
      display: flex;
      flex-direction: column;
      align-items:flex-end;
      .ticket_value {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 150px;
        margin: 11px 0 0 0;
        &_label {
          @extend .section-text;
          font-size: var(--font-22);
          line-height: 26px;
          color: #FFFFFF;
          margin: 0 0 14px 0;
        }
        &_wrapper {
          margin: 0 0 35px 0;
        }
        &_wrapper, .ticket_value_button {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          border: 3px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 0px;
          text-align: center;
          @extend .section-text;
          font-size: var(--font-32);
          line-height: 37px;
          text-align: center;
          color: #FFFFFF;
          background: var(--bg-dark);
          .number {
            all: unset;
            align-self:center;
            text-align: center;
            max-width: 70px;
          }
          .ticket_value_button {
            display: flex;
            align-self:center;
            padding: 6px 0 6px 0;
            padding-right: 14px;
            border: 0;
            cursor: pointer;
            &.minus {
              font-size: 48px;
              padding-left: 14px;
            }
          }
        }
      }
      .ticket_total {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        flex-wrap: nowrap;
        &_label, .total{
          @extend .section-text;
          font-size: var(--font-28);
          line-height: 33px;
          /* identical to box height */
          letter-spacing: 1.65px;
          color: #FFFFFF;
          .total {
            all: unset;
            max-width: max-content;
          }
        }
        .buy_ticket_button {
          background: #FFFFFF;
          border-radius: 2px;
          margin-top: 62px;
          &:hover {
            background: #9D8665;
          }
          &.button_text {
            padding: 11px 38px 13px 37px;
            @extend .section-text;
            font-size: var(--font-22);
            line-height: 26px;
            /* identical to box height */
            text-align: center;
            letter-spacing: 2px;
            color: #000000;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// contacts
.container_contacts {
  .section-title {
    position: relative;
    margin-bottom: 113px;
    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: #710707;
    }
  }
  .discription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 60px;
    .contacts, .contects.name {
      @extend .section-text;
      font-size: var(--font-21);
      line-height: 25px;
      color: #000000;
      margin-bottom: 20px;
      &.name {
        font-size: var(--font-28);
        line-height: 33px;
        margin-bottom: 36px;
      }
    }
  }
}

//footer
footer {
  background-color: var(--bg-dark);
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1440px;
    padding: 75px 0 75px 0;
    .title {
      flex-grow: 1;
      text-transform: uppercase;
      @extend .section;
      font-size: var(--font-28);
      line-height: 50px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    .navigation {
      flex-grow: 2;
      nav {
        display: flex;
        flex-wrap: wrap;
        ul {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          padding: 0;
          max-height: 151px;
          li {
            margin-right: 151px;
            a {
              @extend .section-text;
              font-size: var(--font-21);
              line-height: 50px;
              letter-spacing: 2px;
              text-decoration-color: #FFFFFF;
              color: #FFFFFF;
              &:hover {
                color: #9D8665;
              }
            }
          }
        }
      }
    }
    .links {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      column-gap: 21px;
      a {
        width: 48px;
        height: 48px;
        // border: 1px solid #666666;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 0px #666666);
        border-radius: 50%;
        &:hover {
          background-color: #9D8665;
          border: 1px solid #9D8665;
          transition: 0.5s;
        }
        &:not(:hover) {
          background-color: #030303;
          border: 1px solid #666666;
          transition: 0.5s;
        }

        img {
          width: 24px;
          height: 24px;
          margin: 12px;
        }
      }
    }
  }
}