$firstcollor: #84a9bd;
$secondcollor: white;
$shadow: 0 0 10px rgba(0,0,0,0.5);

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    display: inline-block;
    margin: 1vw;
    text-align: center;
}

ul {
    padding-inline-start: 0px;
}
body {

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    flex-grow: 0;
    width: 80vw;;
    max-width: 1440px;
    min-height: 1vh; //TODO
    background: linear-gradient(to left, $firstcollor, 30%, white);
}

main {
    display: flex;
    flex-grow: 1;
    width: 80vw;
    max-width: 1440px;
}
aside {
    display: flex;
    flex-direction: column;
    width: 45vw;
    min-width: 200px;

    background: linear-gradient($firstcollor, 20%, $secondcollor);
    & img {
        max-width: 100%;
        max-height: 100%;
    }
    & div {
        position:relative;
        // min-height: 4vw;
        bottom: 2vh;
        margin-bottom: 2vh;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color:$firstcollor;
        box-shadow: $shadow;
        &::before {
            width: 0px;
            height: 0px;
            content: "";
            position: absolute;
        }
        &.toleft {
            text-align: center;
            left: 0.5vw;
            border-bottom-left-radius: 2px;
            &::before {
                border-top: 1vh solid #c7b164;
                border-right: 0.5vw solid transparent;
                right: 0;
                bottom: -1vh;
            }
        }
        &.toright {
            text-align:center;
            right: 0.5vw;
            border-bottom-right-radius: 2px;
            &::before {
                border-top: 1vh solid #c7b164;
                border-left: 0.5vw solid transparent;
                left: 0;
                bottom: -1vh;
            }
        }
        li {
            img{
                margin-right: 0.5vw;
            }
        }
    }
}
div.aboutme {
    background: linear-gradient($secondcollor, 80%, $firstcollor );
    div.wrapper {
        position: relative;
        margin-left: 1vw;
        margin-top: 1vw;
        padding-top: 1vh;
        left: 0.5vw;
        background-color:$secondcollor;
        box-shadow: $shadow;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        &::before {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-top: 1vh solid #c7b164;
            border-right: 0.5vw solid transparent;
            right: 0;
            bottom: -1vh;
                }
        section {
            display: flex;
            flex-direction: column;
        }
        h3 {
            position: relative;
            &:after {
                display: block;
                position: absolute;
                content: "";
                bottom: -4px;
                left: 0;
                width: 100px;
                height: 3px;
                background-color: $firstcollor;
                right: 0;
                margin: 0 auto;

            }
            span {
                display: inline-block;
                color: $secondcollor;
                transform: rotate(7deg);
                text-shadow: 1px 1px 2px $firstcollor, -1px -1px 2px $firstcollor;
            }
        }

        p {
            text-align:start;
            text-indent: 2vw;
            margin: 0 3vw 0 3vw;
        }
        li {
            margin: 0 5vw 0 5vw;
            list-style-type: none;
            background-position: 0 0;
            background-repeat: no-repeat;
            padding-left: 2rem;
        }
        .education li {
            background-image: url(https://img.icons8.com/dotty/20/000000/education.png);
        }
        div.code_wrapper {
            margin: 0 3vw 0 3vw;
            box-shadow: $shadow;
        }
    section:last-child {
            margin-bottom: 1vw;
            padding-bottom: 1vw;
        }
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    flex-wrap: nowrap;
    flex-grow: 0;
    width: 81vw;
    max-width: 1440px;
    border-radius: 33px 0 0 33px;
    background: linear-gradient(to left, $firstcollor, 70%, white);
    time {
        // display: block;
        font-family: system-ui, monospace, serif;
    }
    div {
        position: relative;
    }
    img.rsschool_link {
        position: absolute;
        transform: rotate(-90deg);
        height: 15px;
        bottom: -7px;
        right: -10px;
    }
}

aside div.photo {
    width: 100%;
    min-height: 30%; //править
}
aside div.name {

    // width: 100%;
    // min-height: 5%; //править
    // background-color:rgb(87, 54, 206);
}
aside div.position {
    // width: 25.5vw;
    // height: 10vh;
    // min-height: 5%; //править
    // background-color:rgb(87, 54, 206);
}
aside div.contacts {
    // display: flex;
    // width: 100%;
    // min-height: 5%; //править
    // background-color:rgb(87, 54, 206);
    ul{

    }
    li {
        padding-left: 1vw;
        display: flex;
        // flex-direction: column;
        align-items:center;
        justify-content:flex-start;
        // padding-inline-start: 0px;
        min-width: 130px;
    }
}

@media (max-width: 960px) {
    body {
        width: 100%;
        max-width: 100%;
        // overflow-x: hidden;
        margin: 0 auto;
        // overflow-y: hidden;
    }
    header {
        width: 96%;
    };
    main {
        // margin: 0 auto;
        width: 99%;
        flex-direction: column;
        // align-items: center;
    }
    aside {
        width: 97.5% ;
        padding-top: 1vw;
        margin-left: 1vw;
        background: linear-gradient($secondcollor, 71%, $firstcollor );
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        & img.photo {
            margin: 0 auto;
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
        }

        div.position {
            h3 {
                margin-right: -1vw;
            }
        }
        div:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    div.aboutme {
        width: 97%;
    }
    footer {
        width: 93%;
    }
}
@media (max-width: 580px) {
    aside {
        ul {
            justify-content: center;
            li {
                width: 250px;
            }
        }
    }
}